<!DOCTYPE html>

<html>

    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <title>FESSTVaL Maintenance Protocol</title>
    </head>

    <body>
        <div id="Überschrift">
            <h1>FESSTVaL Login</h1>
        </div>
        <div class="login-page">
            <div class="form">

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
    </body>

</html>
