<!DOCTYPE html>

<html>

    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/../../registration/../css/login.css' %}"">
    </head>

    <body>
        <div id="Überschrift">
            <h1>CEN-IT Sommerprojekt Login</h1>
            <h2>Test</h2>
        </div>
        <div class="login-page">
            <div class="form">
                <form class="register-form">
                    <input type="text" placeholder="name" />
                    <input type="password" placeholder="password" />
                    <input type="text" placeholder="email address" />
                    <button>create</button>
                    <p class="message">Already registered? <a href="#">Sign In</a></p>
                </form>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
    </body>

</html>