*{
    height: auto;
    width: auto;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* background-color: #F7F7F7; */

}

body{
    background-color: #F0F0F0;
    width: auto;
    height: auto;
    font-family: 'Montserrat', sans-serif;
}


.logo{
    position: relative;
    text-transform: uppercase;
    color: #3a3a3a;
    letter-spacing: 4px;
    font-size: 26px;
    background-color:rgb(241, 215, 176);
    font-family: 'Montserrat', sans-serif;
}

.logo h5{
    background-color: rgb(241, 215, 176);
    font-family: 'Montserrat', sans-serif;
}

#logo-pic {

    background-image: url('media/landscape.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 15em;

}

nav{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 12vh;
    background-color: rgb(241, 215, 176);
    font-family: 'Montserrat', sans-serif;
}

.nav-links{
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 60%;
    background-color: rgb(241, 215, 176);
    font-family: 'Montserrat', sans-serif;
}

.nav-links ul{
    position: relative;
    background-color: rgb(241, 215, 176);
    font-family: 'Montserrat', sans-serif;
}

.nav-links a{
    position: relative;
    color: #3a3a3a;
    text-decoration: none;
    letter-spacing: 0.1px;
    font-size: 18px;
    background-color: rgb(241, 215, 176);
    font-family: 'Montserrat', sans-serif;
}

.nav-links li{
    position: relative;
    list-style: none;
    background-color: none;
    font-family: 'Montserrat', sans-serif;
}

.headline{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.content{
    position: relative;
    bottom: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
    width: auto;
    font-family: 'Montserrat', sans-serif;
}

.contact{
    position: absolute;
    bottom: 30%;
    right: 32%;
    align-content: center;
    justify-content: center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.maintenance_form{
    position: relative;
    bottom: -60px;
}

.measurement_form{
    position: relative;
    bottom: -60px;
}

.device_form{
    width: 15%;
    position: relative;
    bottom: -100px;
}

.device_form_input{
    display: flex;
    justify-content: center;
    margin: 5%;
    margin-left: 0%;
}


.device_form_upload{
    display: flex;
    justify-content: center;
    margin: 5%;
    margin-left: 0%;

}

.Login-Warning p{
    justify-content: center;
    color: #3a3a3a;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.startpage {
  width: auto;
    height: auto;
  padding: auto;
  margin: auto;
 font-family: 'Montserrat', sans-serif;
}

div.Logout-Button{
    position: absolute;
    left: 1800px;
    bottom: 860px;
    font-family: 'Montserrat', sans-serif;
}

.Logout-Button:hover{
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    font-family: 'Montserrat', sans-serif;
}

div.Logout-Button2{
    position: relative;
    left: 900px;
    bottom: 120px;
    font-family: 'Montserrat', sans-serif;
}

.Reg-Button{
    position: relative;
    bottom: -150px;
    font-family: 'Montserrat', sans-serif;
}

p.Greetings{
    position: relative;
    bottom: 10px;
    font-size: 45px;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.Greetings2 h{
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.headline{
    position: relative;
    bottom: -20px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.form-table-content{
    position: absolute;
    top: 350px;
    bottom: 0px;
    right: 700px;
    left: 700px;
    font-family: 'Montserrat', sans-serif;

}

.maintenance-table-content{
    position: relative;
    bottom: -200px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: auto;
    font-family: 'Montserrat', sans-serif;
}

.device-table-content{
    position: relative;
    bottom: -200px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: auto;
    font-family: 'Montserrat', sans-serif;
}

.burger{
    display: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.burger div{
    width: 25px;
    height: 4px;
    background-color: #3a3a3a;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;

}

h1{
    position: relative;
    bottom: 300px;
    color: black;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
}

table, tr, th{
    border: 1.5px solid black;
    font-family: 'Montserrat', sans-serif;
    height: 33%;
}

table td{
    border: 1.5px solid black;
    width: 20%;
    font-family: 'Montserrat', sans-serif;
}





/* @media screen and (max-width:1024px){
    .nav-links{
        width: 80px;
    }
} */

@media screen and (max-width:1024px){
     body{
        overflow-x: hidden;
    }

    .nav-links{
         position: absolute;
         right: 0;
         height: 65vh;
         top: 36%;
         background-color: rgb(241, 215, 176);
         display: flex;
         flex-direction: column;
         align-items: center;
         width: 20%;
         transform: translateX(100%);
         transition: transform 0.3s ease-in;
        font-family: 'Montserrat', sans-serif;
    }
    .nav-links li{
        opacity: 100;
        font-family: 'Montserrat', sans-serif;
    }
    .burger{
        display: block;
        font-family: 'Montserrat', sans-serif;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}