<!DOCTYPE html>

<html>

    <style>
        table,
        th,
        td {
            border: 2px solid rgb(255, 255, 255);
        }
    </style>

    <head>
        <meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    </head>

    <body>
        {% block Authenticat %}
        {% if user.is_authenticated %}
        <div id="logo-pic">

        </div>
        <nav>
            <div class="logo">
                <h5>Navigation</h5>
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'device_registration' %}">Device Registration</a></li>
                <li><a href="{% url 'device-list' %}">Device List</a></li>
                <li><a href="{% url 'Maintenance' %}">Maintenance</a></li>
                <li><a href="{% url 'maintenance-list' %}">Maintenance List</a></li>
                {% block Logout_Content %}
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'login' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
                {% endblock %}
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
        {% else %}
        <nav>
            <div class="logo">
                <h5>Navigation</h5>
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
        {% endif %}
        {% endblock %}

        {% block Authenticat2 %}
        {% if user.is_authenticated %}
        <div class="headline">
            <h7>
                Registrierte Geräte
            </h7>
        </div>
        <div class="content">
            <table class="table-content">
                <tr>
                    <!--<th> Device ID</th>-->
                    <th> Device Name</th>
                    <th> Device Type</th>
                    <th> Device User </th>
                    <th> Registerdate</th>
                </tr>
                {% for item in devices %}
                <tr>
                    <!--<td>
                        {{ item.device_id }}
                    </td>-->
                    <td>
                        {{ item.device_name }}
                    </td>
                    <td>
                        {{ item.device_type }}
                    </td>
                    <td>
                        {{ item.device_user }}
                    </td>
                    <td>
                        {{ item.register_date }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="Login-Warning">
            <p>
                You are not logged in!
            </p>
        </div>
        {% endif %}
        {% endblock %}
        <script src="{% static 'js/app.js' %}"></script>
    </body>


</html>