<html>

<head>
    <meta charset="utf-8">
    <meta name="homepage" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
            <title>{% block title %}Uni_App{% endblock %}</title>
            <script src=" https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
        </script>
</head>

<body>
    {% block Authenticat %}
    {% if user.is_authenticated %}
    <div id="logo-pic">

    </div>
    <nav>
        <div class="logo">
            <h5>Navigation</h5>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'device_registration' %}">Device Registration</a></li>
            <li><a href="{% url 'device-list' %}">Device List</a></li>
            <li><a href="{% url 'Maintenance' %}">Maintenance</a></li>
            <li><a href="{% url 'maintenance-list' %}">Maintenance List</a></li>
            {% block Logout_Content %}
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'login' %}">Logout</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
            {% endblock %}
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    {% else %}
    <nav>
        <div class="logo">
            <h5>Navigation</h5>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'login' %}">Login</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    {% endif %}
    {% endblock %}

    {% block Authenticat2 %}
    {% if user.is_authenticated %}
    <div class="headline">
        <h7>
            Aktuelle Wartung:
        </h7>
    </div>
    <div class="content">
        <br>{{ maintenance.devices }}</br>
        <br>{{ maintenance.timestamp }}</br>
        <br>{{ maintenance.attribute1 }}</br>
        <br>{{ maintenance.attribute2 }}</br>
        <br>{{ maintenance.attribute3 }}</br>
        <br>{{ maintenance.files }}</br>
        <br>{{ maintenance.description }}</br>
    </div>
    {% else %}
    <div class="Login-Warning">
        <p>
            You are not logged in!
        </p>
    </div>
    {% endif %}
    {% endblock %}
    <script src="{% static 'js/app.js' %}"></script>

</body>

</html>