<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <title>FESSTVaL Maintenance Protocol</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
      {% block Authenticat %}
        {% if user.is_authenticated %}
        <div id="logo-pic">

        </div>
        <nav>
            <div class="logo">
                <h5>FESSTVAL</h5>
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'maintenance' %}">Maintenance</a></li>
                <li><a href="{% url 'measurement' %}">Measurement</a></li>
                <li><a href="{% url 'device_registration' %}">Device Registration</a></li>
                <li><a href="{% url 'maintenance-list' %}">Maintenance List</a></li>
                <li><a href="{% url 'device-list' %}">Device List</a></li>
                {% block Logout_Content %}
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'login' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
                {% endblock %}
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
        {% else %}
        <nav>
            <div class="logo">
                <h5>Navigation</h5>
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
        {% endif %}
        {% endblock %}

        <div>
            {% block Logout_Content2 %}
            {% if user.is_authenticated %}
            <div class="headline">
                <h> Measurement </h>
            </div>

            {% else %}
            <div class="Login-Warning">
                <p>
                    You are not logged in!
                </p>
            </div>
            {% endif %}
            {% endblock %}
        </div>
        {% block Authenticat2 %}
        {% if user.is_authenticated %}
        <div class="content">
            <form class="measurement_form" method="POST" action='' enctype='multipart/form-data'>
                {% csrf_token %}
                {% bootstrap_form measurement_form%}
                {% block extrahead %}
                {{ form.media }}
                {% endblock %}
                <input type="submit" value="Send">
                <!--<p> Device ID</p>
                        <input id="device_id" type="text">
                        <p> Device Name</p>
                        <input id="device_name" type="text">
                        <p> Device Type</p>
                        <input id="device_type" type="text">-->

            </form>
        </div>
        {% endif %}
        {% endblock %}
</body>
</html>