<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="homepage" content="width=device-width, initial-scale=1.0" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

	<link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/apple-icon-57x57.png' %}">
	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/apple-icon-60x60.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/apple-icon-76x76.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-icon-114x114.png' %}">
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/apple-icon-120x120.png' %}">
	<link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/apple-icon-144x144.png' %}">
	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/apple-icon-152x152.png' %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-icon-180x180.png' %}">
	<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'images/android-icon-192x192.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon-96x96.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'images/manifest.json' %}">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{% static 'images/ms-icon-144x144.png' %}">
	<meta name="theme-color" content="#ffffff">

        <title>FESSTVaL Maintenance Protocol</title>
    </head>

    <body>
        <!-- <img src="{{ MEDIA_URL }}/media/windrad.jpeg" /> -->
        {% block Authenticat %}
        {% if user.is_authenticated %}
        <div id="logo-pic">

        </div>
        <nav>
            <div class="logo">
                <h5>Navigation</h5>
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'device_registration' %}">Device-Registration</a></li>
                <li><a href="{% url 'device-list' %}">Device-List</a></li>
                <li><a href="{% url 'maintenance' %}">Maintenance</a></li>
                <li><a href="{% url 'maintenance-list' %}">Maintenance-List</a></li>
                {% block Logout_Content %}
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'login' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
                {% endblock %}
            </ul>

            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
        {% else %}
        <nav>
            <div class="logo">
                <h5>FESSTVAL</h5>
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
        {% endif %}
        {% endblock %}
        <div class="startpage">

            <div>
                {% block Logout_Content2 %}
                {% if user.is_authenticated %}
            <div class="Greetings2">
                <h> Hi {{ user.username }}! </h>
            </div>
                {% else %}
                    <div class="Login-Warning">
                        <p>
                            You are not logged in!
                        </p>
                    </div>
                {% endif %}
                {% endblock %}
            </div>
        </div>

        <script src="{% static 'js/app.js' %}"></script>
    </body>


</html>
