<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="homepage" content="width=device-width, initial-scale=1.0" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <title>Startseite CEN-IT Sommerprojekt</title>
    </head>

    <body>
        <!-- <img src="{{ MEDIA_URL }}/media/windrad.jpeg" /> -->
        {% block Authenticat %}
        {% if user.is_authenticated %}
        <div id="logo-pic">

        </div>
        <nav>
            <div class="logo">
                <h5>Navigation</h5>
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'device_registration' %}">Device-Registration</a></li>
                <li><a href="{% url 'device-list' %}">Device-List</a></li>
                <li><a href="{% url 'maintenance' %}">Maintenance</a></li>
                <li><a href="{% url 'maintenance-list' %}">Maintenance-List</a></li>
                {% block Logout_Content %}
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'login' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
                {% endblock %}
            </ul>

            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
        {% else %}
        <nav>
            <div class="logo">
                <h5>FESSTVAL</h5>
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
        {% endif %}
        {% endblock %}
        <div class="startpage">

            <div>
                {% block Logout_Content2 %}
                {% if user.is_authenticated %}
            <div class="Greetings2">
                <h> Hi {{ user.username }}! </h>
            </div>
                {% else %}
                    <div class="Login-Warning">
                        <p>
                            You are not logged in!
                        </p>
                    </div>
                {% endif %}
                {% endblock %}
            </div>
        </div>

        <script src="{% static 'js/app.js' %}"></script>
    </body>


</html>
